<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0"
  metadata-complete="false">
	<display-name>0205U_Maven_SpringBootMVC_Thymeleaf_Ver5_SpringData-Jpa</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

<!--	&lt;!&ndash; 這裡是註冊濾器 &ndash;&gt;-->
<!--	<filter>-->
<!--		<filter-name>loginFilter</filter-name> &lt;!&ndash; 註冊濾器的名稱 &ndash;&gt;-->
<!--		<filter-class>com.shakemate.filter.LoginFilter</filter-class> &lt;!&ndash; 註冊濾器的class路徑 &ndash;&gt;-->
<!--	</filter>-->
<!--	<filter-mapping> &lt;!&ndash; 註冊濾器的對應 &ndash;&gt;-->
<!--		<filter-name>loginFilter</filter-name> &lt;!&ndash; 註冊的名稱 &ndash;&gt;-->
<!--		<url-pattern>/shop/*</url-pattern> &lt;!&ndash; 要使用路徑的對應 &ndash;&gt;-->
<!--		<dispatcher>REQUEST</dispatcher> &lt;!&ndash; 下面這些都是要加的dispatcher REQUEST 是預設值 &ndash;&gt;-->
<!--		<dispatcher>FORWARD</dispatcher> &lt;!&ndash; 來自Servlet協同的forward()的請求會套用這個濾器 &ndash;&gt;-->
<!--		<dispatcher>INCLUDE</dispatcher> &lt;!&ndash; 來自Servlet協同的include()的請求會套用這個濾器 &ndash;&gt;-->
<!--		<dispatcher>ERROR</dispatcher>  &lt;!&ndash; 例外處理轉交的的請求會套用這個濾器 &ndash;&gt;-->
<!--		<dispatcher>ASYNC</dispatcher>  &lt;!&ndash; 非同步處理的的請求會套用這個濾器 &ndash;&gt;-->
<!--	</filter-mapping>-->

<!--	&lt;!&ndash; 這裡是註冊 UTF-8 的 setCharacterEncoding&ndash;&gt;-->
<!--	<filter>-->
<!--		<filter-name>setCharacterEncoding</filter-name>-->
<!--		<filter-class>com.shakemate.filter.SetCharacterEncodingFilter</filter-class>-->
<!--		<init-param> &lt;!&ndash; 註冊初始參數 &ndash;&gt;-->
<!--			<param-name>encoding</param-name> &lt;!&ndash; 初始參數的變數名稱 &ndash;&gt;-->
<!--			<param-value>UTF-8</param-value>  &lt;!&ndash; 初始參數的值 &ndash;&gt;-->
<!--		</init-param>-->

<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>setCharacterEncoding</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--		<dispatcher>REQUEST</dispatcher>-->
<!--		<dispatcher>FORWARD</dispatcher>-->
<!--		<dispatcher>INCLUDE</dispatcher>-->
<!--		<dispatcher>ERROR</dispatcher>-->
<!--		<dispatcher>ASYNC</dispatcher>-->
<!--	</filter-mapping>-->


</web-app>